@media only screen and (max-width: 768px){
    html,
    body{
    width:100%;
    overflow-x:hidden;
    }
}

.bg{
    background-image:url(../img/TopBg5b-scaled.jpg);
    background-attachment: fixed;
    height: auto;
    text-align: center;
    color: white;
    overflow: hidden;
    width: 100%;
    background-size: cover;
}

.bg h2{
   
}
.bg h1{
    font-size: 55px;
    font-weight: 750;
}
.bg h3{
    line-height: 1.5;
}
.h1-activate-header{
    display: none;
}

.p-client-header{
        display: none;
    }
@media(max-width:1199px){
    .h1-activate-header{
    display: block;
         --tcb-color-0: rgb(255, 255, 255);
    -webkit-text-size-adjust: none;
    text-rendering: auto !important;
    text-align: center;
    overflow-wrap: break-word;
    margin: 0px !important;
    padding: 0px !important;
    font-family: Rubik;
    font-weight: 300;
    color: rgb(245, 213, 35) !important;
    line-height: 1.15em !important;
    --tcb-applied-color: rgb(245, 213, 35)  !important;
    --tve-applied-color: rgb(245, 213, 35)  !important;
    font-size: 32px !important; 
}
    .h1-hide-first{
        display: none;
    }
    
    .h3-client-header{
        display: none;
    }
    .p-client-header{
        display: block;
        --tcb-color-0: rgb(255, 255, 255);
    -webkit-text-size-adjust: none;
    text-rendering: auto !important;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 908px;
    float: none;
    margin: -30px auto 10px !important;
    position: relative !important;
    padding: 1px 0px !important;
    padding-bottom: 0px !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    box-sizing: content-box;
    }
}
.s{        --tcb-color-0: rgb(255, 255, 255);
    -webkit-text-size-adjust: none;
    text-rendering: auto !important;
    text-align: center;
    overflow-wrap: break-word;
    max-width: 804px;
    float: none;
    overflow: hidden;
    display: inline-block;
    margin: -10px auto 20px !important;
    position: relative !important;
    padding: 15px 30px !important;
    background-image: linear-gradient(rgb(23, 27, 56), rgb(23, 27, 56)), linear-gradient(54deg, rgb(244, 31, 57) 0%, rgb(236, 204, 81) 100%), linear-gradient(rgb(255, 95, 64), rgb(255, 95, 64)) !important;
    border-radius: 40px !important;
    background-size: auto, auto, auto !important;
    background-position: 50% 50%, 50% 50%, 50% 50% !important;
    background-attachment: scroll, scroll, scroll !important;
    background-repeat: no-repeat, no-repeat, no-repeat !important;
    --tve-applied-background-image: linear-gradient(rgb(23, 27, 56), rgb(23, 27, 56)), linear-gradient(54deg, rgb(244, 31, 57) 0%, rgb(236, 204, 81) 100%), linear-gradient(rgb(255, 95, 64), rgb(255, 95, 64))  !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    box-sizing: border-box;
}
.h2-border{
    display: none;
}
@media(min-width:957px){
    .s{
        display: none;
    }
    
}
@media(min-width:957px){
    .h2-border{
    display: block;
    
}
.h2-border h2{
    color: white;
    margin-top: -13px;
    
}
}
   
.container-fluid{
    padding: 16px;
}

.wrap{
    background-color: rgba(38, 62, 117, 0.92);
}

.h2-border{
    background-color: rgba(0, 0, 0, 0.57);
    border-radius: 50px;

}
@media(min-width:992px){
    .h2-border{
         background-color: rgba(0, 0, 0, 0.57);
         height:70px;
       padding-top: 20px;
    }
}
.iframewrapper{

    
}
.iframewrapper .tcb-responsive-video{
    
}
#ifram{
  width: 100%;

}
.row-ul-icon ul li{
    padding: 7px;
    font-size: 25px;
    list-style: none;
    word-spacing: 2px;
    line-height: 2;
    font-size: 19px;
    margin-top: 20px;
}
.row-ul-icon i{
    color: orangered;
   
} 

.sd{
    background-size: cover;
    width: 100%;
}
.cont{
    padding: 0;
    height: auto;
}
.blue-bg{
    background-color: rgb(40,63,117);
}
.card-edit h2{
    padding-top: 12px;
}

.card-edit p{
    font-size: 23px;
    line-height: inherit;
    padding: 20px;
}
.card-edit .image{
    margin: 30px;
}
.flex{
    display: flex;
    justify-content: space-around;
     flex-wrap: nowrap;
}

.int-acs-btn{
    background-color: #D54421;
    height: 80px;
    padding-top: 10px;
    border-radius: 80px;
    box-shadow: none;
    
}
#int-acs-btn{
    background-color: #0A741F;
}
.int-acs-btn:hover{
    background-color: #FF6800;
}
.int-acs-btn a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    
}

@media(max-width:463px){
    .int-acs-btn a{
        font-size: 20px;
    }
}

#icon-cards-holder{
   box-shadow: 1px 1px 16px 1px black;
}
.card-title{
    text-align: center;
    color: black;
    
}

.white-bg h3{
    line-height: 47px;
    color: black;
}
.card-1{
    background-color: white;

}

.grey-bg{
    background-color: #EAF0F6;
}

.gif-blue-bg{
    background-color: #283F75;
}

.vt span{
    color: white;
    vertical-align: middle;
}


/* copy */

.tcb-flex-row .tcb-flex-col {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.thrv_wrapper div {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
@media (min-width: 300px)
[data-css="tve-u-1750808aef2"] {
    max-width: 38.5%;
}
.tcb-flex-col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-top: 0px;
    padding-left: 15px;
}

.gif-blue-bg h1{
    --tcb-color-0: rgb(255, 255, 255);
    text-rendering: auto !important;
    overflow-wrap: break-word;
    margin: 10px;
    padding-bottom: 30px;
    font-family: Rubik;
    font-weight: 600;
    font-size: 50px !important;
    line-height: 1.4em !important;
    text-align: center;
    color: rgb(255, 255, 255) !important;
}
.gif-dark-blue-bg{
    background-color: #243665;
   
}
.p{
   width: 30%;
    border: 1px solid black;
}

.p p{
      padding: 10px 50px 20px;
    text-overflow: inherit;
    width: 30%;
    
}
.bubble-blue-bg{
    
	background-image: url(../img/bg22.png);
    background-size: cover;
    background-color: rgba(12, 43, 112, 0.76);
 
    
}

.bubble-blue-bg h2{
    text-align: center;
    color: white;
    padding: 40px 130px 40px;
    font-size: 60px;
    
}

@media(max-width: 1000px){
    .bubble-blue-bg h2{
    text-align: center;
    color: white;
    padding: 0px 0px 0px;
        font-size: 40px;

    }
    
        
}

.beta-h1-style{
    display: none;
}

.nd-beta-style{
    display: block;
}
@media(min-width: 1000px){
    .beta-h1-style{
        display: block;
    }
    
    .nd-beta-style{
        display: none;
    }
    
}


.bubble-blue-bg img{
    margin: 20px;
}
.shape-fill{
    fill: rgba(13, 46, 120, 0.99);
   
}
.dark-bubble-bg{
    background-image: url(../img/Bg-1d.png);
    background-color: rgba(13, 46, 120, 0.97);
    
}
.dark-bubble-bg p,h5{
    padding: 20px 70px 20px;
    font-size: 25px;
    font-weight: 400px;
    color: white;
}

@media(max-width:991px){
    .dark-bubble-bg p,h5{
    padding: 0px 0px 0px;
    font-size: 21px;
    font-weight: 800px;
    color: white;
}

}

.white-bg-bubles{
    background-image: url(../img/secbg4-1.png);
    background-size: cover;
}

.white-bg-bubles h5, h2{
    color: black;
    padding: 10px;
    text-align: center;
}
.flex-icons-clients{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.computer-bg{
    background-color: #F2F8FE;
    
}


   

@media(max-width:600px){
    .three-imgs-resp img{
        width: 90%;
    }
}

@media(max-width:363px){
    lottie-player{
        width: 100px;
        
    }
}

.step-blue-bg{
    background-color: #283F75;
}

.step-h2{
    padding: 50px 30% 20px;
}

@media(max-width: 760px){
    .step-h2{
    padding: 50px 0px 20px;
}
    
        
}

.flex-box-3{
    display: flex;
    justify-content: center;
}


.box-1 h3{
     padding: 50px 8% 20px;
    font-size: 45px;
    color: white;
     font-weight: 560;
   
}

@media(max-width: 760px){
    .box-1 h3{
     padding: 0px 0px 40px;
    font-size: 28px;
       
    
}
    .box-1 img{
        width: 180px;
        margin-top: 0px;
    }
.flex-box-3{
    display: flex;
    flex-direction: column;
    
}
    
        
}

.second-video-bg{
    background-image: url(../img/secbg1.png);
    background-size: cover;
    background-color: rgba(230, 242, 249, 0.74);
}

.kitgz{
        --tcb-color-0: rgb(255, 255, 255);
    text-rendering: auto !important;
    -webkit-box-direction: normal;
    overflow-wrap: break-word;
    padding: 1px;
    overflow: hidden;
    min-width: 250px;
    background-image: linear-gradient(rgb(255, 95, 64), rgb(255, 95, 64)), linear-gradient(185deg, rgb(236, 204, 81) 0%, rgb(66, 147, 33) 100%) !important;
    background-size: auto, auto !important;
    background-position: 50% 50%, 50% 50% !important;
    background-attachment: scroll, scroll !important;
    background-repeat: no-repeat, no-repeat !important;
    border-radius: 90px 0px !important;
    padding-top: 6px !important;
    padding-bottom: 4px !important;
    margin-top: 0px !important;
    --tve-applied-background-image: linear-gradient(rgb(255, 95, 64), rgb(255, 95, 64)), linear-gradient(185deg, rgb(236, 204, 81) 0%, rgb(66, 147, 33) 100%)  !important;
    margin-right: 170px !important;
    box-sizing: content-box;
    margin: 0;
}
.kitgz p{
        --tcb-color-0: rgb(255, 255, 255);
    text-rendering: auto !important;
    -webkit-box-direction: normal;
    overflow-wrap: break-word;
    --tve-applied-background-image: linear-gradient(rgb(255, 95, 64), rgb(255, 95, 64)), linear-gradient(185deg, rgb(236, 204, 81) 0%, rgb(66, 147, 33) 100%)  !important;
    margin: 0;
    padding: 0;
    font-family: Rubik;
    font-weight: 400;
    color: rgb(255, 255, 255) !important;
    font-size: 24px !important;
}

.kit-h2{
    text-align: left !important;
    font-size: 23px;
    line-height: 40px;
    color: none;
    overflow-wrap:break-word;
    padding-right: 10%;
}
@media(max-width:1000px){
    .kit-h2{
 
    padding-right: 0%;
}.special-bonus-h2{

    padding-right: 0%;
}
}
.special-bonus-h2{
     text-align: left !important;
    font-size: 25px;
    line-height: 40px;
    color: white;
    overflow-wrap:break-word;
    padding-right: 5%;
}
.kitz-row-pad{
    padding: 70px 20px;
}

.light-grey-bg{
    background-color: #F3F3F9;
}

.special-bonus-bg-img{
    background-image: url(../img/Bg11b.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.dotted-bubble-bg{
        --tcb-color-0: rgb(255, 255, 255);
    text-rendering: auto !important;
    background-image: url("https://localagencybox.com/wp-content/uploads/2020/10/video-bg-1.png") !important;
    background-size: auto !important;
    background-position: 50% 50%, 50% 50% !important;
 margin: 0;
    background-attachment: fixed !important;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
    
    
     --tcb-color-0: rgb(255, 255, 255);
    text-rendering: auto !important;
    -webkit-box-direction: normal;
    overflow-wrap: break-word;
    padding: 1px;
    background-position: 50% 50%, 50% 50% !important;
    background-repeat: no-repeat, no-repeat !important;
    box-sizing: content-box;
    margin: 0;

}
.dotted-bubble-bg-flex-img{
    display: flex;
    justify-content: center;
}

.added-svg-bg-color{
    background-color:  #243665;
}
.path-fill-blue{
    fill: #243665;
}
.svg-h2-style h2{
    color: white;
}

.early-bird-br{
        --tcb-color-0: rgb(255, 255, 255);
    text-rendering: auto !important;
    -webkit-box-direction: normal;
    overflow-wrap: break-word;
    padding: 1px;
    overflow: hidden;
    min-width: 255px;
    background-image: linear-gradient(rgb(255, 95, 64), rgb(255, 95, 64)), linear-gradient(185deg, rgb(236, 204, 81) 0%, rgb(66, 147, 33) 100%) !important;
    background-size: auto, auto !important;
    background-position: 50% 50%, 50% 50% !important;
    background-attachment: scroll, scroll !important;
    background-repeat: no-repeat, no-repeat !important;
    border-radius: 35px !important;
    padding-top: 6px !important;
    padding-bottom: 4px !important;
    margin-top: 0px !important;
    --tve-applied-background-image: linear-gradient(rgb(255, 95, 64), rgb(255, 95, 64)), linear-gradient(185deg, rgb(236, 204, 81) 0%, rgb(66, 147, 33) 100%)  !important;
    margin-right: 170px !important;
    box-sizing: content-box;
    margin: 0;
}
.early-bird-br p{
        --tcb-color-0: rgb(255, 255, 255);
    text-rendering: auto !important;
    -webkit-box-direction: normal;
    overflow-wrap: break-word;
    --tve-applied-background-image: linear-gradient(rgb(255, 95, 64), rgb(255, 95, 64)), linear-gradient(185deg, rgb(236, 204, 81) 0%, rgb(66, 147, 33) 100%)  !important;
    margin: 0;
    padding: 0;
    font-family: Rubik;
    font-weight: 400;
    color: rgb(255, 255, 255) !important;
    font-size: 24px !important;
}
@media(max-width:720px){
    .early-bird-blue-bg .special-bonus-h2{
     font-size: 25px;
        padding: 0px;
        margin: 0px;
        overflow-wrap: break-word;
       
}.early-bird li{
   padding: 0px;
    font-size: 19px;
    list-style: none;
    color: white;
    margin: 0px;
}.early-bird i{
    color: orangered;
    font-size: 16px;
    margin: 1px;
}

}


.early-bird-blue-bg{
    background-color: #243665;
    overflow-wrap: break-word; 
}

.early-bird li{
   padding: 0px;
    font-size: 23px;
    list-style: none;
    color: white;
    margin: 0px;
}

.early-bird i{
    color: orangered;
    font-size: 26px;
    margin: 4px;
}

.path-fill-grey{
    fill:#F2F8FE;
}
.svg-bg{
    background-color: #F2F8FE;
}
.ul-li ol li{
    color: #151B38;
    font-size: 21px;
    font-weight: 600;
    counter-increment: list;
  list-style-type: none;
  
}

.ul-li ol li:before{
   color: #e75204;
  content: counter(list) ".";
  
}

.ul-li ol{
    font-size: 23px;
}
.text-h2-style h2{
    font-size: 20px;
    color: #151B38;
    overflow-wrap:break-word;
    
}

.last-flex-box{
    display: flex;
    justify-content: center;
    
}

.edit-border{
    background-color: white;
   box-shadow: 1px 1px 6px 0px black;
    border-radius: 7px;
    border-right: 10px solid #FF4500;
    padding: 0px;
}

@media(min-width:1000px){
    .edit-border{
    background-color: white;
   box-shadow: 1px 1px 6px 0px black;
    border-radius: 7px;
    border-right: 7px solid #FF4500;
    width:750px;
}.edit-border-blue{
    width: 750px;
}
}
.edit-border-blue{
    background-color: white;
   box-shadow: 1px 1px 6px 0px black;
    border-radius: 7px;
    border-right: 7px solid #171D3A;
    padding: 0px;
}

.beta-test-two{
    background-color:  #243665;
}

.guarantee-bg{
    background-image: url(../img/cusbg.png);
    background-color:  rgb(32, 49, 82);
    background-size: cover;
    background-repeat: no-repeat;
}

.guarantee-bg-two{
    
    background-color:  rgba(32, 49, 82, 0.69);
}
.FAQ h1{
    text-align: center;
    padding: 40px;
    color: #151B38;
    font-weight: 700;
}
.dropzone h2{
     margin: 30px;
    text-align: left !important;
}
.dropzone{
     margin: 50px;
}

@media(max-width:770px){
    .FAQ h1{
    padding: 0px;

}
.dropzone h2{
     margin: 0px;
    text-align: left !important;
}
.dropzone{
     margin: 0px;
}
}
.FAQ{
    background-image: url(../img/DB-O4-20-StructureBody-07-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.p-notice{
    padding: 5px 20% 10px;
    font-size: 13px;
    color: dimgrey;
}  
@media(max-width:999px){
  .p-notice{
    font-size: 11px;
    padding: 5px 0% 5px;
      color: grey;
      overflow-wrap:break-word;
}  
}

.footer{
    background-color: #8E9ABC;
    min-height: 100px;
}

.footer-flex-box{
    display: flex;
    justify-content: space-around;
}


.footer-flex-box p{
        margin: 30px;
}

@media(max-width:709px){
  .footer-flex-box{
    text-align: center;
    display: flex;
    flex-direction: column;
      font-size: 11px;
      padding: 5px;
}.footer-flex-box p{
        margin: 10px;
}
}  

